<div class="login">
  <form class="form" autocomplete="off" [formGroup]="loginForm">
    <img
      class="login-img"
      src="./assets/Ic_Wolox_Footer.svg"
      alt="Wolox-Logo"
    />

    <label for=""> Email </label>
    <input placeholder="ingrese un email" formControlName="email" type="text" />
    <small *ngIf="emailInvalid" id="invalidCamp">
      Debe ingresar un email con un formato correcto.
    </small>

    <label for=""> Password </label>
    <input
      placeholder="ingrese una password de al menos 4 digitos"
      formControlName="password"
      type="password"
    />
    <small *ngIf="passwordInvalid" id="invalidCamp">
      Debe ingresar una password de al memos 4 digitos
    </small>

    <label for=""> Mantener sesion iniciada </label>
    <input formControlName="check" class="check" type="checkbox" />

    <button
      (click)="loginUser()"
      [disabled]="loginForm.invalid"
      class="login-button"
    >
      Iniciar Sesion
    </button>
  </form>
</div>
