<div class="technologys">
  <div class="search">
    <div>
      <label for="">Buscar</label>
      <input
        type="text"
        placeholder="Buscar por"
        name="filterParam"
        [(ngModel)]="filterParam"
      />
    </div>

    <!-- </div>
  <div class="search"> -->
    <div>
      <label for="">Ordenar:</label>
      <select name="" id="" [(ngModel)]="orderParam">
        <option value="desc" active>Descendente</option>
        <option value="asc">Ascendente</option>
      </select>
    </div>
  </div>

  <div class="list-tech">
    <!-- | orderBy: orderParam -->
    <div
      class="card"
      *ngFor="let tech of techs | filter: filterParam | orderBy: orderParam"
    >
      <app-card-tech [tech]="tech"></app-card-tech>
    </div>
  </div>

  <h1 class="count">Total de Tecnologias: {{ count }}</h1>
</div>
