<div class="navbar">
  <img src="./assets/logo_full_color.svg" alt="Wolox-Logo" class="logo" />

  <ul>
    <li routerLinkActive="active">
      <a routerLink="/" href=""><strong>Inicio</strong></a>
    </li>
    <li routerLinkActive="active">
      <a href="#benefits"><strong> Beneficios</strong></a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/list-tech"><strong> Tecnologias</strong></a>
    </li>
    <button
      *ngIf="!this.authService.userLogged()"
      routerLink="/login"
      class="boton-login"
    >
      Login
    </button>

    <button
      *ngIf="this.authService.userLogged()"
      (click)="logout()"
      class="boton-logout"
    >
      Logout
    </button>
  </ul>
</div>
