<div class="navbar">
  <img src="./assets/logo_full_color.svg" alt="Wolox-Logo" class="logo" />

  <ul>
    <li routerLinkActive="active">
      <a routerLink="/" href=""><strong translate>Inicio</strong></a>
    </li>
    <li routerLinkActive="active">
      <a href="#benefits"><strong translate> BeneficiosNav</strong></a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/list-tech"><strong translate> Tecnologias</strong></a>
    </li>
    <button
      translate
      *ngIf="!this.authService.userLogged()"
      routerLink="/login"
      class="boton-login"
    >
      Btn-Login
    </button>

    <button
      translate
      *ngIf="this.authService.userLogged()"
      (click)="logout()"
      class="boton-logout"
    >
      Btn-Logout
    </button>

    <button class="button" (click)="switchLanguage('en')">En</button>
    <button class="button" (click)="switchLanguage('es')">Es</button>
  </ul>
</div>
