<div class="welcome">
  <div class="welcome-text">
    <p>
      Bienvenido a tu <strong>Entrevista tecnica</strong> en
      <strong style="color: greenyellow"> Wolox </strong>
    </p>
  </div>

  <div>
    <img
      class="welcome-img"
      src="./assets/Img Hero/Ic_ilustra_Hero.png"
      alt="Ic_ilustra"
    />
  </div>
</div>

<div class="info">
  <div class="info-image">
    <img
      class="info-image"
      src="./assets/img_woloxer@3x.png"
      alt="Ic_ilustra"
    />
    <div class="info-image-text">
      <p id="text">
        <strong id="color-greenyellow"> 350 +</strong>

        <strong id="color-dodgerblue"> Woloxers</strong>
      </p>
      <div class="twitter-div">
        <p id="sub-text">
          <img class="twitter-logo" src="./assets/twitter.png" alt="" />@Wolox
        </p>
      </div>

      <button class="follow-button" (click)="goTwitter()">Siguenos</button>
    </div>
  </div>

  <div>
    <p class="info-text">
      Trabajamos para
      <strong id="color-dodgerblue"> convertir</strong>
      <strong id="color-greenyellow"> ideas </strong>
      en productos
    </p>
  </div>
</div>

<h3 class="benefits-title">
  Entre los beneficios que ofrecemos se encuentran
  <strong id="color-dodgerblue"> ;) </strong>
</h3>

<div id="benefits" class="benefits">
  <div class="Individual-benefit" *ngFor="let benefit of benefits">
    <img src="{{ benefit.image }}" alt="{{ benefit.name }}" />
    <h5>{{ benefit.name }}</h5>
  </div>
</div>
