/* COMIENZO SECCION WELCOME */

.welcome {
  margin-top: 80px;
  background-image: url("../../../assets/Backgrounds/Bg_Footer.png");
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Monserrat", sans-serif;
}

.welcome-text,
p {
  text-align: left;
  font-size: 45px;
  width: 300px;
}

.welcome-img {
  /* TODO: ACHICAR RESPONSIVE */
  width: 600px;
}

/* FIN SECCION WELCOME */

/* COMIENZO SECCION INFO / WOLOXERS */
.info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(243, 243, 243);
  font-family: "Monserrat", sans-serif;
}

.info-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.info-image-text {
  position: absolute;
  text-align: center;
}

#text {
  text-align: center;
  justify-content: center;
}

.info-text {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.follow-button {
  background: transparent;
  width: 160px;
  padding: 10px;
  color: white;
  border-style: solid;
  border-color: dodgerblue;
  border-radius: 50px;
}

.follow-button:hover {
  background-color: rgb(193, 224, 250);
  color: dodgerblue;
}

/* FIN SECCION INFO/WOLOXERS */

/* COMIENZO SECCION BENEFICIOS */

.benefits-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  font-family: "Monserrat", sans-serif;
  font-size: 30px;
}

.benefits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 50px;
  font-family: "Monserrat", sans-serif;
}

.Individual-benefit {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-size: 20px;
}
