<div class="welcome">
  <div class="welcome-text">
    <p>
      Bienvenido a tu <strong>Entrevista tecnica</strong> en
      <strong style="color: greenyellow"> Wolox </strong>
    </p>
  </div>

  <div>
    <img
      class="welcome-img"
      src="./assets/Img Hero/Ic_ilustra_Hero.png"
      alt="Ic_ilustra"
    />
  </div>
</div>

<div class="info">
  <div class="info-image">
    <img
      class="info-image"
      src="./assets/img_woloxer@3x.png"
      alt="Ic_ilustra"
    />
    <div class="info-image-text">
      <p id="text">
        <strong style="color: greenyellow"> 350 + </strong>
        <strong style="color: dodgerblue">Woloxers</strong>
      </p>
      <p id="text" style="color: white">Twitter</p>
      <button class="follow-button">Siguenos</button>
    </div>
  </div>

  <div>
    <p class="info-text">
      Trabajamos para <strong style="color: dodgerblue">convertir</strong>
      <strong style="color: greenyellow"> ideas </strong> en productos
    </p>
  </div>
</div>
