.footer {
  display: flex;
  background-image: url("../../../assets/Backgrounds/Bg_Footer.png");
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-direction: column;
}

.footer-title {
  /* font-family: "Monserrat"; */
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
}

.footer-subtitle {
  font-family: "Fira Sans", sans-serif;
  font-size: 35px;
}

.footer-button {
  background-color: dodgerblue;
  width: 200px;
  padding: 10px;
  color: white;
  border-style: none;
  border-radius: 50px;
  margin-bottom: 5px;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
}

.footer-button:hover {
  background-color: rgb(193, 224, 250);
  color: dodgerblue;
}

.footer-img {
  margin-top: 120px;
  display: flex;
  justify-content: flex-end;
  align-self: center;

  animation: latir infinite 3s linear;
}

@keyframes latir {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(2, 2);
  }

  55% {
    transform: scale(1.4, 1.4);
  }

  100% {
    transform: scale(1, 1);
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    flex-direction: column;
  }

  .footer-title {
    /* font-family: "Monserrat"; */
    font-size: 35px;
  }

  .footer-subtitle {
    font-size: 25px;
  }

  .footer-button {
    background-color: dodgerblue;
    width: 200px;
    padding: 10px;
    color: white;
    border-style: none;
    border-radius: 50px;
    margin-bottom: 5px;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
  }

  .footer-button:hover {
    background-color: rgb(193, 224, 250);
    color: dodgerblue;
  }

  .footer-img {
    margin-top: 120px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }
}
